TestExecutor/src/Reports/TestDetails/APITestDetails.txt
**/target
TestExecutor/src/Reports/Extent_TestReport.html
TestExecutor/src/Logs/*
TestExecutor/allure-results/*
TestExecutor/src/Reports/Screenshots/*